@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css');
@import url('https://cdn.jsdelivr.net/npm/vue-toast-notification@3/dist/theme-sugar.css');

@tailwind base;
@tailwind components;
@tailwind utilities;
/* v-data-table*/
.v-data-table.row-height-50 td {
  height: 30px !important;
}

._pagination_total_showing {
  /*text-indent: 20px;*/
  text-align: justify;
  letter-spacing: 1px;
}

.v-data-table-footer {
  height: 60px !important;
}

.v-table__wrapper {
  margin-bottom: 60px !important;
}

@media only screen and (max-width: 1200px) {
  .h-process-no-search .v-table__wrapper {
    min-height: calc(100vh - 140px) !important;
    height: calc(100vh - 140px) !important;
  }
}

.v-table.v-table--fixed-header > .v-table__wrapper > table > thead > tr > th {
  background-color: #dfe7ec !important;
  color: #647082 !important;
  font-weight: bold !important;
}

.v-data-table.table-border table > thead > tr > th,
.v-data-table.table-border table > tbody > tr > td {
  border-right: 1px solid #dfe7ec !important;
  border-bottom: 1px solid #dfe7ec !important;
}

.btn-data-table {
  width: calc(var(--v-btn-height)) !important;
  height: calc(var(--v-btn-height)) !important;
}

.v-messages__message {
  padding-bottom: 10px !important;
  padding-top: 10px !important;
  font-size: 13px;
}

.v-table.v-table--fixed-header > .v-table__wrapper > table > thead > tr > th {
  font-size: 13px !important;
}

.v-data-table__td {
  text-align: left !important;
}
.v-data-table__td:first-child {
  text-align: center !important;
}

/* Toast */
.v-toast__item {
  min-width: 250px !important;
}

.display-limit-txt-date {
  display: inline-block;
  width: 100px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 5px;
}

.display-limit-txt-phone {
  display: inline-block;
  width: 120px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 5px;
}

.display-limit-txt-w-250 {
  display: inline-block;
  width: 250px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 5px;
}

.display-limit-txt-w-150 {
  display: inline-block;
  width: 150px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 5px;
}

.display-limit-txt-w-100 {
  display: inline-block;
  width: 100px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 5px;
}

.display-limit-txt-w-200 {
  display: inline-block;
  width: 200px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 5px;
}

.display-limit-txt-w-300 {
  display: inline-block;
  width: 300px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 5px;
}

.display-limit-txt-w-350 {
  display: inline-block;
  width: 350px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 5px;
}

.display-limit-txt-w-500 {
  display: inline-block;
  width: 500px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 5px;
}

.display-limit-txt-w-700 {
  display: inline-block;
  width: 700px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 5px;
}

.v-card.v-card--material > .v-card__title > .v-card--material__title {
  flex: 1 1 auto;
  word-break: break-word;
}

.v-toolbar__content {
  height: 56px !important;
}
.dp__action_buttons {
  width: 75% !important;
}

.mg-5 {
  margin: 5px !important;
}
.v-messages__message {
  line-height: 20px !important;
}

.dp__input:hover {
  border: 1px solid black !important;
}

.dp__input {
  border: 1px solid #9e9e9e !important;
}

.dp__input.dp__input_icon_pad {
  height: 40px !important;
}

.dp__disabled {
  background-color: rgb(229 231 235) !important;
}
